*{
  margin: 0; 
}

body{
  font-family: 'Jost', sans-serif;
  margin: 18px 34px 28px 32px;
}

.main{
  display: block;
  height: 100%;
  width: 500px;
  margin-left: 350px;
}

.title01{
  font-size: 35px;
  color: #454868;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 10px;
  margin-top: 27px;

}

.title02{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: black;
  margin-bottom: 26px;
}

.you{
  color:#454868;
}

.heading{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 6px;
  color: #322D2D;

}

.Input{
  width: 684px;
  height: 79.51px;
  left: 298px;
  top: 385px;
  margin-bottom: 26px;
  background: #FFFFFF;
  border: 1px solid rgba(1, 8, 81, 0.38);
  border-radius: 20px;  
  padding-left: 18px;
}

.Input::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  
}

.check{
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border: 1px solid #010851;
}

.agree{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

.terms{
  color: #454868;
  text-decoration: underline;
}

.agree .terms{
  margin-bottom: 76px;

}

.createBtn{
  width: 651px;
  height: 61.86px;
  background-color: #010851;
  color: white;
  border-radius: 20px;
  border-width: 0;
  margin-top: 76px;
  margin-bottom: 43px;
  margin-left: 20px;
  font-size: 23px;

}

.log{
  font-weight: 400;
  font-size: 16px;
  color: black;
  text-align: center;
  margin-left: 200px;
}

.login{
  color: #454868;
}