{% extends 'base_generic.html' %} 
{% block stylesheet %} 
{% load static %}
  <link rel="stylesheet" href="{% static 'books/css/index.css' %}" />
{% endblock %} 

{% block title %}
<title>Books Library</title>
{% endblock %}

<!-- Navbar -->
{% block navbar %}
  <nav>
    <div>
      <a href="">Ebook Library</a>
    </div>

    <!-- nav links -->
    <ul>
      <li>
        <a href="{% url 'home' %}">home</a>
      </li>
      <li class="library-nav">

        <a href="#" id="dropdown-link">library</a>

        <!-- Library Dropdown Menu -->
        <ul id="dropdown-menu">
            <li>
                <a href="{% url 'books:home' %}">Ebook Library</a>
            </li>

            <li>
                <a href="{% url 'videos:home' %}">Videos Library</a>
            </li>
        </ul>
    </li>
      <li>
        <a href="{% url 'change_password' %}">profile</a>
      </li>
      <li>
        <a href="">contact us</a>
      </li>
      <li>
        <a href="{% url 'logout' %}">Logout</a>
    </li>
    </ul>
  </nav>
<!-- end Navbar -->
{% endblock %}

{% block content %}
<div class="containers">
  <div id="sidebar">
    <div>
      <h2>Categories</h2>
    </div>
    <a class="category_link active" href="#">All</a>
    <a class="category_link" href="#">Business</a>
    <a class="category_link" href="#">Health</a>
    <a class="category_link" href="#">Art</a>
    <a class="category_link" href="#">Religion</a>
  </div>
</div>

<div id="header">
  <span>All</span>
  <form action="" method="post">
    <input type="text" placeholder="search" />
  </form>
</div>

<div class="content-container">
  <div class="content">
    <div class="books">
      <div>
        <img src="https://via.placeholder.com/600x400" alt="Book-Image" />
      </div>
  
      <!-- Book Info -->
      <div class="book-info">
        <div>
          Author: <span>The Author</span>
        </div>
        <div>
          Title: <span>The Title</span>
        </div>
      </div>
      <!-- End Book Info -->

      <!-- Book Actions -->
      <div class="action-container">
        <a target="_blank" href="#">View</a>
        <a href="#">Download</a>
      </div>
      <!-- End Book Actions -->
    </div>
    <div class="books">
      <div>
        <img src="https://via.placeholder.com/600x400" alt="Book-Image" />
      </div>
  
      <!-- Book Info -->
      <div class="book-info">
        <div>
          Author: <span>The Author</span>
        </div>
        <div>
          Title: <span>The Title</span>
        </div>
      </div>
      <!-- End Book Info -->

      <!-- Book Actions -->
      <div class="action-container">
        <a target="_blank" href="#">View</a>
        <a href="#">Download</a>
      </div>
      <!-- End Book Actions -->
    </div>
    <div class="books">
      <div>
        <img src="https://via.placeholder.com/600x400" alt="Book-Image" />
      </div>
  
      <!-- Book Info -->
      <div class="book-info">
        <div>
          Author: <span>The Author</span>
        </div>
        <div>
          Title: <span>The Title</span>
        </div>
      </div>
      <!-- End Book Info -->

      <!-- Book Actions -->
      <div class="action-container">
        <a target="_blank" href="#">View</a>
        <a href="#">Download</a>
      </div>
      <!-- End Book Actions -->
    </div>
    <div class="books">
      <div>
        <img src="https://via.placeholder.com/600x400" alt="Book-Image" />
      </div>
  
      <!-- Book Info -->
      <div class="book-info">
        <div>
          Author: <span>The Author</span>
        </div>
        <div>
          Title: <span>The Title</span>
        </div>
      </div>
      <!-- End Book Info -->

      <!-- Book Actions -->
      <div class="action-container">
        <a target="_blank" href="#">View</a>
        <a href="#">Download</a>
      </div>
      <!-- End Book Actions -->
    </div>
    <div class="books">
      <div>
        <img src="https://via.placeholder.com/600x400" alt="Book-Image" />
      </div>
  
      <!-- Book Info -->
      <div class="book-info">
        <div>
          Author: <span>The Author</span>
        </div>
        <div>
          Title: <span>The Title</span>
        </div>
      </div>
      <!-- End Book Info -->

      <!-- Book Actions -->
      <div class="action-container">
        <a target="_blank" href="#">View</a>
        <a href="#">Download</a>
      </div>
      <!-- End Book Actions -->
    </div>
    <div class="books">
      <div>
        <img src="https://via.placeholder.com/600x400" alt="Book-Image" />
      </div>
  
      <!-- Book Info -->
      <div class="book-info">
        <div>
          Author: <span>The Author</span>
        </div>
        <div>
          Title: <span>The Title</span>
        </div>
      </div>
      <!-- End Book Info -->

      <!-- Book Actions -->
      <div class="action-container">
        <a target="_blank" href="#">View</a>
        <a href="#">Download</a>
      </div>
      <!-- End Book Actions -->
    </div>
  </div>
</div>

{% endblock %}
