{% extends 'base_generic.html' %}

{% block stylesheet %} 
{% load static %}
  <link rel="stylesheet" href="{% static 'books/css/index.css' %}" />
{% endblock %} 

{% block title %}
<title>Books Library</title>
{% endblock %}

  {% block currentPage %}
    <div>
      <a href="">Ebook Library</a>
    </div>
  {% endblock %}

{% block content %}
<div class="containers">
  <div id="sidebar">
    <div>
      <h2>Categories</h2>
    </div>
    <a class="category_link active" href="#">All</a>
    <a class="category_link" href="#">Business</a>
    <a class="category_link" href="#">Health</a>
    <a class="category_link" href="#">Art</a>
    <a class="category_link" href="#">Religion</a>
  </div>
</div>

<div id="header">
  <span>All</span>
  <form action="" method="post">
    <input type="text" placeholder="search" />
  </form>
</div>

<div class="content-container">
  <div class="content">
    {% if books %}
      {% for book in books %}
        <div class="books">
          <div>
            <img src="{{ book.cover_image.url }}" alt="Book-Image" />
          </div>
      
          <!-- Book Info -->
          <div class="book-info">
            <div>
              Author: <span>{{ book.author }}</span>
            </div>
            <div>
              Title: <span>{{ book.title }}</span>
            </div>
          </div>
          <!-- End Book Info -->
    
          <!-- Book Actions -->
          <div class="action-container">
            <a target="_blank" href="{{ book.copy.url }}">View</a>
            <a href="#">Download</a>
          </div>
          <!-- End Book Actions -->
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock %}