{% extends 'base_generic.html' %} 
{% block stylesheet %} 
{% load static %}
  <link rel="stylesheet" href="{% static 'videos/css/index.css' %}" />
{% endblock %} 

{% block title %}
<title>Videos Library</title>
{% endblock %}

    {% block currentPage %}
    <div>
      <a href="">Videos Library</a>
    </div>
    {% endblock %}

{% block content %}
<div class="containers">
  <div id="sidebar">
    <div>
      <h2>Categories</h2>
    </div>
    {% if categories %}
    <a class="category_link {% if category == 'all' %} active {% else %} '' {% endif %}" href="{% url 'videos:home' %}">All</a>
      {% for category_item in categories %}
        <a class="category_link {% if category == category_item.0|lower %} active {% else %} '' {% endif %}" href="{% url 'videos:home' %}?category={{ category_item.1 }}">{{ category_item.0 }}</a>
      {% endfor %}
    {% endif %}
  </div>
</div>

<div id="header">
  <span>{{ category|upper }}</span>
  <form action="" method="post">
    <input type="text" placeholder="search" />
  </form>
</div>

<div class="content-container">
  <div class="content">
    {% if videos %}
      {% for video in videos %}
        <div class="videos">
          <div>
            <img src="{{ video.thumbnail.url }}" alt="Book-Image" />
          </div>
      
          <div>
            <div>Title: <a href="#">{{ video.title }}</a></div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div>No books to display</div>
    {% endif %}
    {% comment %} <div class="videos">
      <div>
        <img src="https://via.placeholder.com/600x400" alt="Book-Image" />
      </div>
  
      <div>
        <div>Title: <a href="#">The Title</a></div>
      </div>
    </div> {% endcomment %}
  </div>
</div>

{% endblock %}
